<nav>
    <ul>
        <li><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('app_admin_user_list') }}">Users</a></li>
        <li><a href="{{ path('app_admin_room_list') }}">Rooms</a></li>
        <li><a href="{{ path('app_admin_reservation_list') }}">Reservations</a></li>
        <li><a href="{{ path('app_admin_equipment_list') }}">Equipments</a></li>
    </ul>
</nav>
