{% extends 'layout/admin.html.twig' %}

{% block title %}Room List{% endblock %}

{% block main %}
    <div class="container mt-5">
        <ul>
            {% for room in rooms %}
                <li>
                    {{ room.name }} |
                    <a class="btn btn-primary" href="{{ path('app_admin_room_edit', {id: room.id }) }}">Edit</a> |
                    <a class="btn btn-primary" href="{{ path('app_admin_room_equipment_list', {idRoom: room.id }) }}">Equipment</a> |
                    <a class="btn btn-primary" href="{{ path('app_admin_room_rate_list', {idRoom: room.id }) }}">Rate</a> |
                    {{ include('_partials/_delete_form.html.twig', {entity: room, path: 'app_admin_room_delete'}) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('app_admin_room_new') }}" class="btn btn-primary">Create Room</a>
{% endblock %}
