{% extends 'layout/page_grid.html.twig' %}

{% block title %}Room List{% endblock %}



{% block list_title %}Room{% endblock %}

{% block list_header %}
{% endblock %}

{% block list_body %}
    <div class="d-grid gap-4 mt-4"
         style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
        {% for room in rooms %}
            <div class="card mt-6" data-animation="true">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <a class="d-block blur-shadow-image">
                        <img src="{{ vich_uploader_asset(room, 'photoFile') }}"
                             alt="{{ room.name }}"
                             class="img-fluid shadow border-radius-lg"
                        >
                    </a>
                    <div class="colored-shadow"
                         style="background-image: url(&quot;https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg&quot;);"></div>
                </div>
                <div class="card-body text-center">
                    <div class="d-flex mt-n6 mx-auto">
                        <a class="btn btn-link text-primary ms-auto border-0" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Refresh">
                            <i class="material-symbols-rounded text-lg">refresh</i>
                        </a>
                        <a href="{{ path('app_admin_room_edit', {id: room.id }) }}" class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Edit">
                            <i class="material-symbols-rounded text-lg">edit</i>
                        </a>
                    </div>
                    <h5 class="font-weight-normal mt-3">
                        {{ room.name }}
                    </h5>
                    <p class="mb-0">
                        {{ room.description }}
                    </p>
                    <a class="text-secondary font-weight-bold text-xs" href="{{ path('app_admin_room_equipment_list', {idRoom: room.id }) }}">Equipment</a> |
                    <a class="text-secondary font-weight-bold text-xs" href="{{ path('app_admin_room_role_rate_list', {idRoom: room.id }) }}">Rate</a> |
                    <a class="text-secondary font-weight-bold text-xs" href="{{ path('app_admin_room_schedule_list', {idRoom: room.id }) }}">Schedule</a> |
                    {{ include('_partials/_delete_form.html.twig', {entity: room, path: 'app_admin_room_delete'}) }}

                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer d-flex">
                    <p class="font-weight-normal my-auto">{{ room.capacity }} pers.</p>
                    <i class="material-symbols-rounded position-relative ms-auto text-lg me-1 my-auto">place</i>
                    <p class="text-sm my-auto">{{ room.area }} m2</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block list_actions %}
    <a href="{{ path('app_admin_room_new') }}" class="btn btn-light m-0">Create Room</a>
{% endblock %}
