{% extends 'layout/admin.html.twig' %}

{% block title %}Payment Method Form{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ paymentMethod.id is not null ? 'Edit Payment Method' : 'Create Payment Method' }}</h1>

        {{ form_start(form, { 'attr': { 'class': 'needs-validation', 'novalidate': 'novalidate' } }) }}

        <div class="form-group mb-3">
            {{ form_label(form.label, 'Label', { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_widget(form.label, { 'attr': { 'class': 'form-control', 'placeholder': 'Enter payment method label' } }) }}
            {{ form_errors(form.label, { 'attr': { 'class': 'text-danger' } }) }}
        </div>

        {% if form.data is defined %}
            <div class="form-group mb-3">
                {{ form_widget(form.data) }}
            </div>
        {% endif %}

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_admin_payment_method_list', {idUser: paymentMethod.user.id}) }}" class="btn btn-secondary">Back to
                List</a>
            <button type="submit" class="btn btn-primary">
                {{ paymentMethod.id is not null ? 'Update Payment Method' : 'Create Payment Method' }}
            </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
