{% extends 'layout/admin.html.twig' %}

{% block title %}Week Schedule Form{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ weekSchedule.id is not null ? 'Edit Week Schedule' : 'Create Week Schedule' }}</h1>

        {{ form_start(form, { 'attr': { 'class': 'needs-validation', 'novalidate': 'novalidate' } }) }}

        <div class="form-group mb-3">
            {{ form_label(form.weekDay, 'Day of the Week', { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_widget(form.weekDay, { 'attr': { 'class': 'form-select' } }) }}
            {{ form_errors(form.weekDay, { 'attr': { 'class': 'text-danger' } }) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.startedAt, 'Start Time', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(form.startedAt, { 'attr': { 'class': 'form-control', 'placeholder': 'Select start time' } }) }}
                    {{ form_errors(form.startedAt, { 'attr': { 'class': 'text-danger' } }) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.endedAt, 'End Time', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(form.endedAt, { 'attr': { 'class': 'form-control', 'placeholder': 'Select end time' } }) }}
                    {{ form_errors(form.endedAt, { 'attr': { 'class': 'text-danger' } }) }}
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_admin_room_week_schedule_list', {idRoom: weekSchedule.room.id }) }}" class="btn btn-secondary">Back to List</a>
            <button type="submit" class="btn btn-primary">
                {{ weekSchedule.id is not null ? 'Update Week Schedule' : 'Create Week Schedule' }}
            </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
