{% extends 'bootstrap_base.html.twig' %}

{% block title %}user List{% endblock %}

{% block body %}
    <div class="container mt-5">
        <ul>
            {% for user in users %}
                <li>
                    {{ user.firstName }} |
                    <a class="btn btn-primary" href="{{ path('app_user_edit', {id: user.id }) }}">Edit</a> |
                    <a class="btn btn-primary" href="{{ path('app_user_payment_list', {idUser: user.id }) }}">Payment</a> |
                    {{ include('_partials/_delete_form.html.twig', {entity: user, path: 'app_user_delete'}) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('app_user_new') }}" class="btn btn-primary">Create user</a>
{% endblock %}
